.main-citys {
  background: linear-gradient(
    124deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(108, 180, 238, 1) 62%
  );
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
  padding: 5em 0;
  position: relative;
  /* * {
    border: 1px solid red;
  } */
   
  @media (max-width: 568px) {
    padding: 5em 0.5em;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}

.main-citys > h2 {
  position: absolute;
  top: 0;
  left: 20px;
  font-family: var(--inconsolata);

  text-shadow: 0 0 0 black, 0 0 1px black,
  0 0 1px black;}
