.main-citys {
  width: 100%;
  background: linear-gradient(124deg,rgba(255,255,255,1) 0%, rgba(108,180,238,1) 62%) ;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
  padding: 5em 0;
position: relative;
}

.main-citys > h2 {
position: absolute;
top: 0;
left: 20px;
font-family: var(--inconsolata);
}
