.searcher {
  position: absolute;
  top: 5%;
  right: 3%;
  @media (max-width: 568px) {
    top: 12%;
  }
}

.references {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
}

.references a {
  display: block;
  padding: 8px;
  text-decoration: none;
}

.references a:hover {
  background-color: #f0f0f0;
}

.close {
  cursor: pointer;
}

.searcher input {
  background-color: transparent;
  border-radius: 6px;
  border: 2px solid white;
}

.searcher input:focus {
  color: rgb(53, 211, 255);
  font-weight: bold;
  border-color: rgb(53, 211, 255);
}

.searcher input::placeholder {
  text-shadow: 0 0 0 black, 0 0 1px black, 0 0 1px black;
  color: white;
  font-weight: bold;
}
